.feed {
    display:flex;
    flex:0.99;
    margin-left:200px;
    margin-right: 30px;
    flex-direction: column;
}
.feedTitle {
    display:flex;
    align-items: center;
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    height:25px;
    padding: 5px;
    margin-top: 15px;
}
.feedTitle > h3 {
    padding: 10px;
    font-weight: bold;
}
.feedOptions {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.feedInfo {
    margin-top: 20px;
}